{% extends "base.html" %}

{% block content %}
<table id="data" class="table table-striped">
    <thead>
    <tr>
        <th>title</th>
        <th>author</th>
        <th>genre</th>
        <th>year</th>
        <th>reserved</th>
        <th>borrowed</th>
        <th>due date</th>
        <th>delete</th>
    </tr>
    </thead>
    <tbody>
    {% for book in books %}

    <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.genre }}</td>
        <td>{{ book.year }}</td>
        {% if book.status == 'Reserved' %}
        <td>
            <form action="{{ url_for('api_bp.update_status', book_id=book.id, status='Available') }}" method=post>
                <input type=submit value="Cancel Reservation">
            </form>
        </td>
        {% else %}
        <td>False</td>
        {% endif %}
        {% if book.status == 'Borrowed' %}
        <td>
            <form action="{{ url_for('api_bp.update_status', book_id=book.id, status='Available') }}" method=post>
                <input type=submit value="Mark Returned">
            </form>
        </td>
        {% elif book.status == 'Reserved'%}
        <td>
            <form action="{{ url_for('api_bp.update_status', book_id=book.id, status='Borrowed') }}" method=post>
                <input type=submit value="Mark Borrowed">
            </form>
        </td>
        {% else %}
        <td>Available</td>
        {% endif %}
        <td>{{ book.due_date }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

